flyway.url=jdbc:postgresql://<host>/<ededun-db-name>
flyway.user=<db-user>
flyway.password=<db-password>
flyway.locations=filesystem:./migrations/ededun-db
flyway.baselineOnMigrate=true
flyway.baselineVersion=0
